table
    tr
        td.empty
            button(ng-click="shuffleTiles()") Shuffle
        td.empty
            button(ng-click="drawTileCard()") Draw tile
        td(tile="tiles[0]")
        td(tile="tiles[1]")
        td.empty
        td.empty
    tr
        td.empty
        td(tile="tiles[2]")
        td(tile="tiles[3]")
        td(tile="tiles[4]")
        td(tile="tiles[5]")
        td.empty
    tr
        td(tile="tiles[6]")
        td(tile="tiles[7]")
        td(tile="tiles[8]")
        td(tile="tiles[9]")
        td(tile="tiles[10]")
        td(tile="tiles[11]")
    tr
        td(tile="tiles[12]")
        td(tile="tiles[13]")
        td(tile="tiles[14]")
        td(tile="tiles[15]")
        td(tile="tiles[16]")
        td(tile="tiles[17]")
    tr
        td.empty
        td(tile="tiles[18]")
        td(tile="tiles[19]")
        td(tile="tiles[20]")
        td(tile="tiles[21]")
        td.empty
    tr
        td.empty
        td.empty
        td(tile="tiles[22]")
        td(tile="tiles[23]")
        td.empty
        td.empty