table
    tr
        td.empty
            button(ng-click="shuffleTiles()") Shuffle
        td.empty
        td(tile id="tiles[0]")
        td(tile id="tiles[1]")
        td.empty
        td.empty
    tr
        td.empty
        td(tile id="tiles[2]")
        td(tile id="tiles[3]")
        td(tile id="tiles[4]")
        td(tile id="tiles[5]")
        td.empty
    tr
        td(tile id="tiles[6]")
        td(tile id="tiles[7]")
        td(tile id="tiles[8]")
        td(tile id="tiles[9]")
        td(tile id="tiles[10]")
        td(tile id="tiles[11]")
    tr
        td(tile id="tiles[12]")
        td(tile id="tiles[13]")
        td(tile id="tiles[14]")
        td(tile id="tiles[15]")
        td(tile id="tiles[16]")
        td(tile id="tiles[17]")
    tr
        td.empty
        td(tile id="tiles[18]")
        td(tile id="tiles[19]")
        td(tile id="tiles[20]")
        td(tile id="tiles[21]")
        td.empty
    tr
        td.empty
        td.empty
        td(tile id="tiles[22]")
        td(tile id="tiles[23]")
        td.empty
        td.empty