table
    tr
        td.empty
        td.empty
        td.tile
        td.tile
        td.empty
        td.empty
    tr
        td.empty
        td.tile
        td.tile
        td.tile
        td.tile
        td.empty
    tr
        td.tile
        td.tile
        td.tile
        td.tile
        td.tile
        td.tile
    tr
        td.tile
        td.tile
        td.tile
        td.tile
        td.tile
        td.tile
    tr
        td.empty
        td.tile
        td.tile
        td.tile
        td.tile
        td.empty
    tr
        td.empty
        td.empty
        td.tile
        td.tile
        td.empty
        td.empty