html(ng-app="flipadelphia")
head
    link(href="css/style.css" rel="stylesheet")
body()
    div(game-board)

    script(src="lib/angular/angular.js")
    script(src="lib/lodash/dist/lodash.js")
    script(src="app.js")