html(ng-app="flipadelphia")
head
    link(href="css/style.css" rel="stylesheet")
    link(href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
body()
    div(game-board)

    script(src="lib/angular/angular.js")
    script(src="lib/lodash/dist/lodash.js")
    
    script(src="app.js")
    script(src="modules/board/board.js")
    script(src="modules/tiles/tiles.js")
    script(src="modules/cards/cards.js")
    script(src="modules/gameUtils/gameUtils.js")
    script(src="modules/gameUtils/treasureDeck.js")
    script(src="modules/gameUtils/tileDeck.js")