.tile(ng-class="tile.level")
    div(ng-bind="tile.name")
    div(ng-class="tile.tokens")
    h5(style="color: red" ng-bind="tile.start" ng-if="tile.start")
    h5(style="color: blue" ng-bind="tile.relic" ng-if="tile.relic")
    button(ng-click="moveHere()" ng-show="canMoveHere()") M